<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>001445.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{304,398}</string>
        <key>spriteSourceSize</key>
        <string>{304,398}</string>
        <key>textureRect</key>
        <string>{{0,0},{304,398}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001446.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{70,23}</string>
        <key>spriteSourceSize</key>
        <string>{70,23}</string>
        <key>textureRect</key>
        <string>{{0,398},{70,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001447.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{70,23}</string>
        <key>spriteSourceSize</key>
        <string>{70,23}</string>
        <key>textureRect</key>
        <string>{{70,398},{70,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001448.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{70,23}</string>
        <key>spriteSourceSize</key>
        <string>{70,23}</string>
        <key>textureRect</key>
        <string>{{140,398},{70,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001449.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{50,23}</string>
        <key>spriteSourceSize</key>
        <string>{50,23}</string>
        <key>textureRect</key>
        <string>{{210,398},{50,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001450.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{50,23}</string>
        <key>spriteSourceSize</key>
        <string>{50,23}</string>
        <key>textureRect</key>
        <string>{{260,398},{50,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001451.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{50,23}</string>
        <key>spriteSourceSize</key>
        <string>{50,23}</string>
        <key>textureRect</key>
        <string>{{260,421},{50,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001452.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{22,31}</string>
        <key>spriteSourceSize</key>
        <string>{22,31}</string>
        <key>textureRect</key>
        <string>{{310,421},{22,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001453.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{22,31}</string>
        <key>spriteSourceSize</key>
        <string>{22,31}</string>
        <key>textureRect</key>
        <string>{{0,421},{22,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001454.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{22,31}</string>
        <key>spriteSourceSize</key>
        <string>{22,31}</string>
        <key>textureRect</key>
        <string>{{22,421},{22,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001455.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{22,31}</string>
        <key>spriteSourceSize</key>
        <string>{22,31}</string>
        <key>textureRect</key>
        <string>{{44,421},{22,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001456.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{22,31}</string>
        <key>spriteSourceSize</key>
        <string>{22,31}</string>
        <key>textureRect</key>
        <string>{{66,421},{22,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001457.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{22,31}</string>
        <key>spriteSourceSize</key>
        <string>{22,31}</string>
        <key>textureRect</key>
        <string>{{88,421},{22,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001458.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{18,20}</string>
        <key>spriteSourceSize</key>
        <string>{18,20}</string>
        <key>textureRect</key>
        <string>{{110,421},{18,20}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001459.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{18,20}</string>
        <key>spriteSourceSize</key>
        <string>{18,20}</string>
        <key>textureRect</key>
        <string>{{128,421},{18,20}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001460.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{110,441},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001461.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{234,452},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001462.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{0,464},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001463.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{124,475},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001464.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{0,487},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001465.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{248,475},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001466.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{304,0},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001467.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{304,23},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001468.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{304,46},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001469.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{304,69},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001470.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{304,92},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001471.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{304,115},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001472.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{304,138},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001473.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{304,161},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001474.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{304,184},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001475.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{304,207},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001476.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{304,230},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001477.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{304,253},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001478.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{304,276},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001479.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{304,299},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001480.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{310,322},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001481.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{310,345},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001482.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{332,368},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001483.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{332,391},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001484.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{358,414},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001485.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{358,437},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001486.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{372,460},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001487.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{372,483},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>001445.png</string>
      <key>size</key>
      <string>{496,510}</string>
      <key>textureFileName</key>
      <string>001445.png</string>
    </dict>
  </dict>
</plist>
