<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
			<remove fileExtension=".bin"/>
            <mimeMap fileExtension=".bin" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".plist" mimeType="application/xml" />
            <mimeMap fileExtension=".tdm" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".cconb" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".dbbin" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
