<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>001488.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{0,0},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001489.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{0,23},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001490.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{0,46},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001491.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{0,69},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001492.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{0,92},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001493.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{0,115},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001494.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{124,115},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001495.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{124,0},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001496.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{248,0},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001497.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{124,23},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001498.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{124,23}</string>
        <key>spriteSourceSize</key>
        <string>{124,23}</string>
        <key>textureRect</key>
        <string>{{248,23},{124,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001499.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{85,26}</string>
        <key>spriteSourceSize</key>
        <string>{85,26}</string>
        <key>textureRect</key>
        <string>{{124,46},{85,26}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001500.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{85,26}</string>
        <key>spriteSourceSize</key>
        <string>{85,26}</string>
        <key>textureRect</key>
        <string>{{209,46},{85,26}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001501.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{85,26}</string>
        <key>spriteSourceSize</key>
        <string>{85,26}</string>
        <key>textureRect</key>
        <string>{{209,72},{85,26}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001502.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{85,26}</string>
        <key>spriteSourceSize</key>
        <string>{85,26}</string>
        <key>textureRect</key>
        <string>{{124,72},{85,26}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001503.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{85,26}</string>
        <key>spriteSourceSize</key>
        <string>{85,26}</string>
        <key>textureRect</key>
        <string>{{248,98},{85,26}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001504.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{85,26}</string>
        <key>spriteSourceSize</key>
        <string>{85,26}</string>
        <key>textureRect</key>
        <string>{{294,46},{85,26}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001505.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{99,26}</string>
        <key>spriteSourceSize</key>
        <string>{99,26}</string>
        <key>textureRect</key>
        <string>{{372,0},{99,26}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001506.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{99,26}</string>
        <key>spriteSourceSize</key>
        <string>{99,26}</string>
        <key>textureRect</key>
        <string>{{294,72},{99,26}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001507.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{99,26}</string>
        <key>spriteSourceSize</key>
        <string>{99,26}</string>
        <key>textureRect</key>
        <string>{{379,26},{99,26}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001508.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{49,14}</string>
        <key>spriteSourceSize</key>
        <string>{49,14}</string>
        <key>textureRect</key>
        <string>{{124,98},{49,14}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001509.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,14}</string>
        <key>spriteSourceSize</key>
        <string>{48,14}</string>
        <key>textureRect</key>
        <string>{{173,98},{48,14}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001510.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,14}</string>
        <key>spriteSourceSize</key>
        <string>{48,14}</string>
        <key>textureRect</key>
        <string>{{379,52},{48,14}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001511.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{36,14}</string>
        <key>spriteSourceSize</key>
        <string>{36,14}</string>
        <key>textureRect</key>
        <string>{{471,0},{36,14}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001512.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{11,14}</string>
        <key>spriteSourceSize</key>
        <string>{11,14}</string>
        <key>textureRect</key>
        <string>{{221,98},{11,14}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001513.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{11,14}</string>
        <key>spriteSourceSize</key>
        <string>{11,14}</string>
        <key>textureRect</key>
        <string>{{232,98},{11,14}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001514.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{28,28}</string>
        <key>spriteSourceSize</key>
        <string>{28,28}</string>
        <key>textureRect</key>
        <string>{{248,124},{28,28}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001515.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{30,29}</string>
        <key>spriteSourceSize</key>
        <string>{30,29}</string>
        <key>textureRect</key>
        <string>{{0,138},{30,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001516.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{30,29}</string>
        <key>spriteSourceSize</key>
        <string>{30,29}</string>
        <key>textureRect</key>
        <string>{{30,138},{30,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001517.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{30,29}</string>
        <key>spriteSourceSize</key>
        <string>{30,29}</string>
        <key>textureRect</key>
        <string>{{60,138},{30,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001518.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{50,47}</string>
        <key>spriteSourceSize</key>
        <string>{50,47}</string>
        <key>textureRect</key>
        <string>{{90,138},{50,47}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001519.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{64,22}</string>
        <key>spriteSourceSize</key>
        <string>{64,22}</string>
        <key>textureRect</key>
        <string>{{0,167},{64,22}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001520.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{352,51}</string>
        <key>spriteSourceSize</key>
        <string>{352,51}</string>
        <key>textureRect</key>
        <string>{{0,189},{352,51}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001521.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{400,70}</string>
        <key>spriteSourceSize</key>
        <string>{400,70}</string>
        <key>textureRect</key>
        <string>{{0,240},{400,70}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001522.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{400,70}</string>
        <key>spriteSourceSize</key>
        <string>{400,70}</string>
        <key>textureRect</key>
        <string>{{0,310},{400,70}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>001523.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{400,70}</string>
        <key>spriteSourceSize</key>
        <string>{400,70}</string>
        <key>textureRect</key>
        <string>{{0,380},{400,70}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>001488.png</string>
      <key>size</key>
      <string>{507,450}</string>
      <key>textureFileName</key>
      <string>001488.png</string>
    </dict>
  </dict>
</plist>
