<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/skill_icon/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,234},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,296},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,358},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,420},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,482},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,544},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,606},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/143.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,668},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,730},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/158.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,792},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/159.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,854},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,916},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/161.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,234},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,162},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,90},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,1},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,296},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,358},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,420},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,482},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,544},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,606},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,668},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,730},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/27.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,792},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/28.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,854},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/29.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,916},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,224},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/30.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,152},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/31.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,63},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/32.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,1},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/33.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,286},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/34.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,348},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/35.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,410},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,472},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/41.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,534},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/42.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,596},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/43.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,658},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/44.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,720},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/45.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,782},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/48.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,844},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,906},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/50.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,214},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/55.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,125},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/58.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,63},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,1},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/60.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,276},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/61.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,338},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/62.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,400},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/63.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,462},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/64.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,524},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/65.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,586},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/66.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,648},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,710},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/75.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,772},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,834},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,896},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/900.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,958},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/901.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,187},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon_c/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,90},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>res/skill_icon_c/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,968},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,968},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,125},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,63},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,1},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,249},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,305},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,361},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,417},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,473},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,529},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,585},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,641},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,697},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,753},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,809},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,865},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,921},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,249},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/27.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,119},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/28.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,57},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/29.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,1},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,175},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/30.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,305},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/31.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,361},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/32.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,417},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/33.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,473},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/37.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,529},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,585},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/41.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,641},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/43.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,697},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/44.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,753},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/45.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,809},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/48.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,865},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,921},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/50.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,231},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/55.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,113},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/56.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,57},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/58.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,1},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,169},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/60.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,287},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/61.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,343},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/62.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,399},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/63.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,455},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/64.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,511},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/65.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,567},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/66.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,623},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,679},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/75.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,735},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,791},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,847},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/900.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,785},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/skill_icon_c/901.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,837},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/skill_icon_c/force.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,162},{70,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,66}</string>
			</dict>
			<key>res/skill_icon/56.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,125},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/57.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,63},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/private/console/skill_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>res/skill_icon/37.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,1},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/38.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,249},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/114.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,311},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/36.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,373},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/39.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,435},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/40.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,497},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/70.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,559},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/72.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,621},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/76.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,683},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon_c/114.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,903},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/202.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,959},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/203.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,225},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/206.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,113},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/36.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,57},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/38.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,1},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/39.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,169},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/40.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,281},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/47.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,337},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/52.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,393},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/57.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,449},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/70.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,505},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/72.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,561},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/74.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,617},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon_c/76.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,673},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon/203.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,745},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/206.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,807},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/52.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,869},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon/74.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,931},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/skill_icon_c/81.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,729},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/skill_icon/81.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,187},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Skills.png</string>
			<key>realTextureFileName</key>
			<string>Skills.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>