<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>000830.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{46,46}</string>
        <key>spriteSourceSize</key>
        <string>{46,46}</string>
        <key>textureRect</key>
        <string>{{0,0},{46,46}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000831.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{46,46}</string>
        <key>spriteSourceSize</key>
        <string>{46,46}</string>
        <key>textureRect</key>
        <string>{{0,46},{46,46}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000832.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{39,39}</string>
        <key>spriteSourceSize</key>
        <string>{39,39}</string>
        <key>textureRect</key>
        <string>{{46,46},{39,39}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000833.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{39,39}</string>
        <key>spriteSourceSize</key>
        <string>{39,39}</string>
        <key>textureRect</key>
        <string>{{46,0},{39,39}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000834.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{39,39}</string>
        <key>spriteSourceSize</key>
        <string>{39,39}</string>
        <key>textureRect</key>
        <string>{{85,0},{39,39}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000835.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{46,46}</string>
        <key>spriteSourceSize</key>
        <string>{46,46}</string>
        <key>textureRect</key>
        <string>{{46,85},{46,46}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000836.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{46,46}</string>
        <key>spriteSourceSize</key>
        <string>{46,46}</string>
        <key>textureRect</key>
        <string>{{0,92},{46,46}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000837.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{46,46}</string>
        <key>spriteSourceSize</key>
        <string>{46,46}</string>
        <key>textureRect</key>
        <string>{{85,39},{46,46}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000838.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{46,46}</string>
        <key>spriteSourceSize</key>
        <string>{46,46}</string>
        <key>textureRect</key>
        <string>{{92,85},{46,46}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000839.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{46,46}</string>
        <key>spriteSourceSize</key>
        <string>{46,46}</string>
        <key>textureRect</key>
        <string>{{131,0},{46,46}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000840.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{46,46}</string>
        <key>spriteSourceSize</key>
        <string>{46,46}</string>
        <key>textureRect</key>
        <string>{{92,131},{46,46}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000841.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{46,39},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000842.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{47,39},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000843.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{48,39},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000844.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{49,39},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000845.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{50,39},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000846.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{51,39},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000847.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{52,39},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000848.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{53,39},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000849.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{54,39},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000850.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{55,39},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000851.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{56,39},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000852.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{57,39},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000853.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{58,39},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000854.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{59,39},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000855.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{60,39},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000856.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{61,39},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000857.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{62,39},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000858.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{63,39},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000859.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{332,8}</string>
        <key>spriteSourceSize</key>
        <string>{332,8}</string>
        <key>textureRect</key>
        <string>{{131,46},{332,8}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000860.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,-10}</string>
        <key>spriteSize</key>
        <string>{56,64}</string>
        <key>spriteSourceSize</key>
        <string>{56,64}</string>
        <key>textureRect</key>
        <string>{{0,138},{56,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000861.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,-10}</string>
        <key>spriteSize</key>
        <string>{60,64}</string>
        <key>spriteSourceSize</key>
        <string>{60,64}</string>
        <key>textureRect</key>
        <string>{{138,54},{60,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000862.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,-8}</string>
        <key>spriteSize</key>
        <string>{60,60}</string>
        <key>spriteSourceSize</key>
        <string>{60,60}</string>
        <key>textureRect</key>
        <string>{{138,118},{60,60}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000863.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-2,-9}</string>
        <key>spriteSize</key>
        <string>{60,64}</string>
        <key>spriteSourceSize</key>
        <string>{60,64}</string>
        <key>textureRect</key>
        <string>{{56,177},{60,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000864.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-2,-9}</string>
        <key>spriteSize</key>
        <string>{60,64}</string>
        <key>spriteSourceSize</key>
        <string>{60,64}</string>
        <key>textureRect</key>
        <string>{{198,118},{60,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000865.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-2,-10}</string>
        <key>spriteSize</key>
        <string>{60,64}</string>
        <key>spriteSourceSize</key>
        <string>{60,64}</string>
        <key>textureRect</key>
        <string>{{198,54},{60,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000866.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,-10}</string>
        <key>spriteSize</key>
        <string>{60,64}</string>
        <key>spriteSourceSize</key>
        <string>{60,64}</string>
        <key>textureRect</key>
        <string>{{258,54},{60,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000867.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-3,-10}</string>
        <key>spriteSize</key>
        <string>{64,64}</string>
        <key>spriteSourceSize</key>
        <string>{64,64}</string>
        <key>textureRect</key>
        <string>{{116,178},{64,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000868.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-3,-10}</string>
        <key>spriteSize</key>
        <string>{64,64}</string>
        <key>spriteSourceSize</key>
        <string>{64,64}</string>
        <key>textureRect</key>
        <string>{{0,241},{64,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000869.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-3,-10}</string>
        <key>spriteSize</key>
        <string>{64,64}</string>
        <key>spriteSourceSize</key>
        <string>{64,64}</string>
        <key>textureRect</key>
        <string>{{180,182},{64,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000870.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-2,-10}</string>
        <key>spriteSize</key>
        <string>{64,64}</string>
        <key>spriteSourceSize</key>
        <string>{64,64}</string>
        <key>textureRect</key>
        <string>{{64,242},{64,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000871.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,-9}</string>
        <key>spriteSize</key>
        <string>{64,64}</string>
        <key>spriteSourceSize</key>
        <string>{64,64}</string>
        <key>textureRect</key>
        <string>{{0,305},{64,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000872.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,-7}</string>
        <key>spriteSize</key>
        <string>{64,60}</string>
        <key>spriteSourceSize</key>
        <string>{64,60}</string>
        <key>textureRect</key>
        <string>{{244,182},{64,60}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000873.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,-9}</string>
        <key>spriteSize</key>
        <string>{60,64}</string>
        <key>spriteSourceSize</key>
        <string>{60,64}</string>
        <key>textureRect</key>
        <string>{{258,118},{60,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000874.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,-9}</string>
        <key>spriteSize</key>
        <string>{60,64}</string>
        <key>spriteSourceSize</key>
        <string>{60,64}</string>
        <key>textureRect</key>
        <string>{{244,242},{60,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000875.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,-9}</string>
        <key>spriteSize</key>
        <string>{60,64}</string>
        <key>spriteSourceSize</key>
        <string>{60,64}</string>
        <key>textureRect</key>
        <string>{{128,246},{60,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000876.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{1,-9}</string>
        <key>spriteSize</key>
        <string>{60,64}</string>
        <key>spriteSourceSize</key>
        <string>{60,64}</string>
        <key>textureRect</key>
        <string>{{64,306},{60,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000877.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{1,-10}</string>
        <key>spriteSize</key>
        <string>{60,64}</string>
        <key>spriteSourceSize</key>
        <string>{60,64}</string>
        <key>textureRect</key>
        <string>{{0,369},{60,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000878.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,-10}</string>
        <key>spriteSize</key>
        <string>{60,64}</string>
        <key>spriteSourceSize</key>
        <string>{60,64}</string>
        <key>textureRect</key>
        <string>{{304,242},{60,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000879.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,-11}</string>
        <key>spriteSize</key>
        <string>{60,64}</string>
        <key>spriteSourceSize</key>
        <string>{60,64}</string>
        <key>textureRect</key>
        <string>{{318,54},{60,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000880.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,-11}</string>
        <key>spriteSize</key>
        <string>{60,64}</string>
        <key>spriteSourceSize</key>
        <string>{60,64}</string>
        <key>textureRect</key>
        <string>{{318,118},{60,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000881.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,-11}</string>
        <key>spriteSize</key>
        <string>{60,64}</string>
        <key>spriteSourceSize</key>
        <string>{60,64}</string>
        <key>textureRect</key>
        <string>{{188,306},{60,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000882.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{1,-11}</string>
        <key>spriteSize</key>
        <string>{60,64}</string>
        <key>spriteSourceSize</key>
        <string>{60,64}</string>
        <key>textureRect</key>
        <string>{{124,310},{60,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000883.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,-10}</string>
        <key>spriteSize</key>
        <string>{56,64}</string>
        <key>spriteSourceSize</key>
        <string>{56,64}</string>
        <key>textureRect</key>
        <string>{{60,370},{56,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000884.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{60,369},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000885.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{61,369},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000886.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{62,369},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000887.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{63,369},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000888.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{124,306},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000889.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{124,307},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000890.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{96,108}</string>
        <key>spriteSourceSize</key>
        <string>{96,108}</string>
        <key>textureRect</key>
        <string>{{248,306},{96,108}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000891.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{96,108}</string>
        <key>spriteSourceSize</key>
        <string>{96,108}</string>
        <key>textureRect</key>
        <string>{{116,374},{96,108}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000892.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{96,108}</string>
        <key>spriteSourceSize</key>
        <string>{96,108}</string>
        <key>textureRect</key>
        <string>{{344,306},{96,108}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000893.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{96,108}</string>
        <key>spriteSourceSize</key>
        <string>{96,108}</string>
        <key>textureRect</key>
        <string>{{364,182},{96,108}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000894.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{96,108}</string>
        <key>spriteSourceSize</key>
        <string>{96,108}</string>
        <key>textureRect</key>
        <string>{{378,54},{96,108}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>000830.png</string>
      <key>size</key>
      <string>{474,482}</string>
      <key>textureFileName</key>
      <string>000830.png</string>
    </dict>
  </dict>
</plist>
