<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>000895.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{96,108}</string>
        <key>spriteSourceSize</key>
        <string>{96,108}</string>
        <key>textureRect</key>
        <string>{{0,0},{96,108}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000896.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{96,108}</string>
        <key>spriteSourceSize</key>
        <string>{96,108}</string>
        <key>textureRect</key>
        <string>{{96,0},{96,108}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000897.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{96,108}</string>
        <key>spriteSourceSize</key>
        <string>{96,108}</string>
        <key>textureRect</key>
        <string>{{192,0},{96,108}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000898.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{96,108}</string>
        <key>spriteSourceSize</key>
        <string>{96,108}</string>
        <key>textureRect</key>
        <string>{{288,0},{96,108}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000899.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{96,108}</string>
        <key>spriteSourceSize</key>
        <string>{96,108}</string>
        <key>textureRect</key>
        <string>{{384,0},{96,108}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000900.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{96,108}</string>
        <key>spriteSourceSize</key>
        <string>{96,108}</string>
        <key>textureRect</key>
        <string>{{0,108},{96,108}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000901.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{96,108}</string>
        <key>spriteSourceSize</key>
        <string>{96,108}</string>
        <key>textureRect</key>
        <string>{{96,108},{96,108}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000902.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{192,108},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000903.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{192,109},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000904.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{192,110},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000905.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{192,111},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000906.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{192,112},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000907.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{192,113},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>000908.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1,1}</string>
        <key>spriteSourceSize</key>
        <string>{1,1}</string>
        <key>textureRect</key>
        <string>{{192,114},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>000895.png</string>
      <key>size</key>
      <string>{480,216}</string>
      <key>textureFileName</key>
      <string>000895.png</string>
    </dict>
  </dict>
</plist>
