<?xml version="1.0" ?>
<!DOCTYPE plist
  PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN'
  'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version="1.0">
	

	<dict>
		

		<key>frames</key>
		

		<dict>
			

			<key>000420.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{0,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000421.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{0,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000422.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{32,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000423.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{32,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000424.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{64,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000425.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{64,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000426.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{96,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000427.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{96,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000428.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{128,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000429.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{128,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000430.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{160,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000431.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{160,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000432.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{192,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000433.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{192,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000434.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{224,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000435.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{224,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000436.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{256,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000437.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{256,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000438.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{288,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000439.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{288,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000440.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{320,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000441.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{320,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000442.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{352,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000443.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{352,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000444.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{384,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000445.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{384,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000446.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{416,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000447.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{416,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000448.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{448,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000449.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{448,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000450.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{480,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000451.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{480,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000452.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{512,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000453.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{512,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000454.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{544,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000455.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{544,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000456.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{576,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000457.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{576,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000458.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{608,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000459.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{608,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000460.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{640,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000461.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{640,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000462.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{672,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000463.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{672,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000464.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{704,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000465.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{704,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000466.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{736,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000467.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{736,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000468.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{768,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000469.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{768,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000470.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{800,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000471.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{800,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000472.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{832,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000473.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{832,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000474.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{864,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000475.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{864,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000476.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{896,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000477.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{896,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000478.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{928,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000479.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{928,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000480.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{960,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000481.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{960,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000482.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{992,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000483.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{992,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000484.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{1024,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000485.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{1024,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

		</dict>
		

		<key>metadata</key>
		

		<dict>
			

			<key>format</key>
			

			<integer>3</integer>
			

			<key>pixelFormat</key>
			

			<string>RGBA8888</string>
			

			<key>premultiplyAlpha</key>
			

			<false/>
			

			<key>realTextureFileName</key>
			

			<string>000420.png</string>
			

			<key>size</key>
			

			<string>{1056,60}</string>
			

			<key>smartupdate</key>
			

			<string>$TexturePacker:SmartUpdate:b62c1b61551396198ae83a2f38f619e1:2599dd36c75fea6cdeedb26f89f8eacd:ea92b5d310d58b0e00b5b278ef2ea069$</string>
			<key>textureFileName</key>
			

			<string>000420.png</string>
			

		</dict>
		


	</dict>
	

</plist>
