<?xml version="1.0" ?>
<!DOCTYPE plist
  PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN'
  'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version="1.0">
	

	<dict>
		

		<key>frames</key>
		

		<dict>
			

			<key>000500.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{0,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000501.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{0,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000502.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{32,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000503.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{32,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000504.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{64,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000505.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{64,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000506.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{96,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000507.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{96,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000508.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{128,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000509.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{128,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000510.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{160,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000511.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{160,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000512.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{192,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000513.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{192,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000514.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{224,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000515.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{224,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000516.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{256,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000517.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{256,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000518.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{288,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000519.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{288,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000520.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{320,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000521.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{320,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000522.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{352,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000523.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{352,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000524.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{384,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000525.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{384,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000526.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{416,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000527.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{416,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000528.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{448,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000529.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{448,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000530.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{480,30},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

			<key>000531.png</key>
			

			<dict>
				

				<key>aliases</key>
				

				<array/>
				

				<key>spriteOffset</key>
				

				<string>{0,0}</string>
				

				<key>spriteSize</key>
				

				<string>{32,30}</string>
				

				<key>spriteSourceSize</key>
				

				<string>{32,30}</string>
				

				<key>textureRect</key>
				

				<string>{{480,0},{32,30}}</string>
				

				<key>textureRotated</key>
				

				<false/>
				

			</dict>
			

		</dict>
		

		<key>metadata</key>
		

		<dict>
			

			<key>format</key>
			

			<integer>3</integer>
			

			<key>pixelFormat</key>
			

			<string>RGBA8888</string>
			

			<key>premultiplyAlpha</key>
			

			<false/>
			

			<key>realTextureFileName</key>
			

			<string>000500.png</string>
			

			<key>size</key>
			

			<string>{512,60}</string>
			

			<key>smartupdate</key>
			

			<string>$TexturePacker:SmartUpdate:b62c1b61551396198ae83a2f38f619e1:2599dd36c75fea6cdeedb26f89f8eacd:ea92b5d310d58b0e00b5b278ef2ea069$</string>
			<key>textureFileName</key>
			

			<string>000500.png</string>
			

		</dict>
		


	</dict>
	

</plist>
